<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" th:href="@{/images/fav.png}">

    <!-- Stylesheets -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,500" rel="stylesheet">
    <link th:href="@{/vendor/unicons-2.0.1/css/unicons.css}" rel="stylesheet">
    <link th:href="@{/css/vertical-responsive-menu1.min.css}" rel="stylesheet">
    <link th:href="@{/css/instructor-dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/instructor-responsive.css}" rel="stylesheet">
    <link th:href="@{/css/night-mode.css}" rel="stylesheet">
    <link th:href="@{/css/datepicker.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <link th:href="@{/css/night-mode.css}" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/OwlCarousel/assets/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/vendor/OwlCarousel/assets/owl.theme.default.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/semantic/semantic.min.css}">

</head>
<body>
<main class="container">
    <header class="row">
        <div class="col">
            <div th:replace="fragment/header :: header"></div>
        </div>
    </header>
    <nav class="row">
        <div class="col">
            <div th:replace="fragment/nav :: nav"></div>
        </div>
    </nav>
    <section class="row">
        <div class="col">
            <div layout:fragment="content"></div>
        </div>
    </section>
    <footer class="row">
        <div class="col">
            <div th:replace="fragment/footer :: footer"></div>
        </div>
    </footer>
</main>

<!--script-->
<script th:src="@{/js/vertical-responsive-menu.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/OwlCarousel/owl.carousel.js}"></script>
<script th:src="@{/vendor/semantic/semantic.min.js}"></script>
<script th:src="@{/js/custom1.js}"></script>
<script th:src="@{/js/night-mode.js}"></script>
<script th:src="@{/js/datepicker.min.js}"></script>
<script th:src="@{/js/i18n/datepicker.en.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</body>
</html>